HOME           ~                        true
local_bin      ~/local/bin              true
local_scripts  ~/local/scripts          true
rofi           ~/.config/rofi           false
dunst          ~/.config/dunst          ./preds/dunst.pl
polybar        ~/.config/polybar        ./preds/polybar.pl
urxvt-ext      ~/.urxvt/ext             ./preds/urxvt-ext.pl
input-remapper ~/.config/input-remapper/presets false
ctags          ~/.ctags.d               ./preds/ctags.pl
gdbinit        ~/                       ./preds/gdbinit.pl
micro          ~/.config/micro          ./preds/micro.pl
bashrc.d       ~/.bashrc.d              ./preds/bashrc.pl
HOME-zsh       ~                        ./preds/zsh.pl
HOME-xorg      ~                        ./preds/xorg.pl
chromium-wayland-gtk4 ~ ./preds/chromium-wayland-gtk4.pl

# Example
never          ~                        false

# Openbox, XFCE4-Panel
HOME-openbox   ~                        ./preds/openbox.pl
openbox        ~/.config/openbox        ./preds/openbox.pl

# IceWM
HOME-icewm     ~                        ./preds/icewm.pl

# IceWM / Debian
HOME-icewm-debian     ~                        ./preds/icewm-debian.pl
icewm-debian          ~/.icewm                 ./preds/icewm-debian.pl


# i3
HOME-i3              ~                        ./preds/i3-xsession.pl
i3                   ~/.config/i3             ./preds/i3-xsession.pl

tint2                ~/.config/tint2    ./preds/tint2.pl

#
CUSTOM: ./omz-plugins.pl
CUSTOM: ./bashrc.bash


