HOME           ~                        true
local_bin      ~/local/bin              true
rofi           ~/.config/rofi           true
dunst          ~/.config/dunst          true
polybar        ~/.config/polybar        true

# Example
never          ~                        false

# Openbox, XFCE4-Panel
HOME-openbox   ~                        ./preds/openbox.pl
openbox        ~/.config/openbox        ./preds/openbox.pl

# IceWM
HOME-icewm     ~                        ./preds/icewm.pl

# IceWM / Debian
icewm-debian     ~/.icewm                        ./preds/icewm-debian.pl
