HOME           ~                        true
local_bin      ~/local/bin              true
rofi           ~/.config/rofi           true
dunst          ~/.config/dunst          true

# Example
never          ~                        false

# Openbox
HOME-openbox   ~                        ./preds/non-icewm.pl
openbox        ~/.config/openbox        ./preds/non-icewm.pl

# IceWM
HOME-icewm     ~                        ./preds/icewm.pl

