# /etc/udev/rules.d/10-network-dev-aliases.rules
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="48:5d:60:fd:6c:32", NAME="wlan0""
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="f4:6d:04:bd:e2:23", NAME="eth0"
