# -*- perl -*-
# ~/.re.pl/repl.rc
use 5.012;
use warnings;

load_plugin qw(
        Colors
        Completion
        CompletionDriver::INC
        CompletionDriver::LexEnv
        CompletionDriver::Keywords
        CompletionDriver::Methods
        DumpHistory
        History
        LexEnv
        ReadLineHistory
        MultiLine::PPI
        Packages
        FancyPrompt
        FindVariable
        Peek
        );

